<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/static/js/main.js" defer></script>
</head>
<body>
    {% extends 'base.html' %}

{% block content %}
    <section class="interest-section">
        <h2>Cooking</h2>
        <p>Welcome to my cooking section! Here, I'll share some of my favorite recipes and cooking tips.</p>
        <div class="recipes">
            <h3>Favorite Recipes</h3>
            <ul>
                <li>Spaghetti Carbonara</li>
                <li>Chicken Tikka Masala</li>
                <li>Meats Bowl</li>
            </ul>
        </div>
    </section>
{% endblock %}
</body>
</html>