<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/static/js/main.js" defer></script>
</head>
<body>
    {% extends 'base.html' %}

{% block content %}
    <section class="interest-section">
        <h2>Sci-Fi</h2>
        <p>Welcome to my Sci-Fi section! Here, I'll share some of my favorite Sci-Fi books, movies, and TV shows.</p>
        <div class="favorites">
            <h3>Favorite Sci-Fi Titles</h3>
            <ul>
                <li>Blade Runner</li>
                <li>Star Wars</li>
                <li>The Matrix</li>
            </ul>
        </div>
    </section>
{% endblock %}

</body>
</html>